{% extends 'base_admin.html' %}
    
{% block admin %}
    <h1>Controle de Cursos</h1>
    <div class="crud-botoes">
        <a href="/admin/cursos/novo/" class="botao botao-sucesso">Novo Curso</a>
    </div>
    <table class="crud-lista">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Sigla</th>
                <th>Coordenador</th>
                <th>Duração</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso['nome'] }}</td>
                <td>{{ curso['sigla'] }}</td>
                <td>{{ curso['coordenador'] }}</td>
                <td>{{ curso['duracao'] }}</td>
                <td>
                    <a href="/admin/cursos/alterar/{{ curso['id'] }}/" 
                        class="botao botao-principal">A</a>
                    <a href="/admin/cursos/remover/{{ curso['id'] }}/" 
                        class="botao botao-secundario remover">D</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}