{% extends 'base.html' %}
    
{% block estilos %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}
{% block conteudo %}
    <h1>{{ h1 }}</h1>
    <form method="POST" novalidate>
        <div class="form-pilha">
            <label for="curso-nome">Nome</label>
            <input type="text" id="curso-nome" name="nome" required value="{{ curso['nome'] }}" />
            {% if erros['nome'] | length > 0 %}
                <ul class="erros">
                    {% for erro in erros['nome'] %}
                        <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-pilha">
            <label for="curso-sigla">Sigla</label>
            <input type="text" id="curso-sigla" name="sigla" maxlength="5" required value="{{ curso['sigla'] }}" />
            {% if erros['sigla'] | length > 0 %}
                <ul class="erros">
                    {% for erro in erros['sigla'] %}
                        <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-pilha">
            <label for="curso-duracao">Duração</label>
            <input type="number" id="curso-duracao" name="duracao" required value="{{ curso['duracao'] }}" />
            {% if erros['duracao'] | length > 0 %}
                <ul class="erros">
                    {% for erro in erros['duracao'] %}
                        <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-pilha">
            <label for="curso-coordenador">Coordenador</label>
            <input type="text" id="curso-coordenador" name="coordenador" required value="{{ curso['coordenador'] }}" />
            {% if erros['coordenador'] | length > 0 %}
                <ul class="erros">
                    {% for erro in erros['coordenador'] %}
                        <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-pilha">
            <label for="curso-tipo">Tipo</label>
            <select name="tipo" id="curso-tipo" required>
                <option value="">Selecione...</option>
                <option value="Bacharelado" {% if curso['tipo'] == 'Bacharelado' %}selected{% endif %} >Bacharelado</option>
                <option value="Tecnólogo" {% if curso['tipo'] == 'Tecnólogo' %}selected{% endif %}>Tecnólogo</option>
                <option value="EaD" {% if curso['tipo'] == 'EaD' %}selected{% endif %}>EaD</option>
            </select>
            {% if erros['tipo'] | length > 0 %}
                <ul class="erros">
                    {% for erro in erros['tipo'] %}
                        <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-pilha">
            <label for="curso-disciplina">Disciplina Padrão</label>
            <select name="disciplina" id="curso-disciplina" required>
                <option value="">Selecione...</option>
                {% for discip in disciplinas %}
                    <option value="{{ discip['id'] }}">
                        {{ discip['nome'] }}
                    </option>
                {% endfor %}
            </select>
            {% if erros['disciplina'] | length > 0 %}
                <ul class="erros">
                    {% for erro in erros['disciplina'] %}
                        <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-pilha">
            <label for="curso-sobre">Sobre o Curso</label>
            <textarea name="sobre" id="curso-sobre" required>
                {{ curso['sobre'] }}
            </textarea>
            {% if erros['sobre'] | length > 0 %}
                <ul class="erros">
                    {% for erro in erros['sobre'] %}
                        <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <fieldset class="form-pilha">
            <legend>Períodos</legend>
            {% if erros['periodo'] | length > 0 %}
                <ul class="erros">
                    {% for erro in erros['periodo'] %}
                        <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <label for="curso-periodo-m">Matutino</label>
            <input type="checkbox" name="periodo" id="curso-periodo-m" value="M" {% if curso['matutino'] == 1 %}checked{% endif %} />
            <label for="curso-periodo-n">Noturno</label>
            <input type="checkbox" name="periodo" id="curso-periodo-n" value="N" {% if curso['noturno'] == 1 %}checked{% endif %} />
        </fieldset>
        <div class="botoes">
            <button type="submit" class="botao botao-principal">Salvar</button>
        </div>
    </form>
{% endblock %}