{% extends 'base.html' %}

{% block estilos %}
    <link rel="stylesheet" href="/static/css/cursos.css">
{% endblock %}

{% block conteudo %}
    <h1>{{ curso['nome'] }}</h1>
    <section class="sobre">
        <h2>Sobre o Curso</h2>
        {{ curso['sobre'] | safe }}
    </section>
    <section class="informacoes">
        <h2>Informações</h2>
        <p>
            <strong>Tipo de Curso</strong>: {{ curso['tipo'] }}
        </p>
        <p>
            <strong>Coordenador</strong>: {{ curso['coordenador'] }}
        </p>
        <section>
            <h3>Período</h3>
            <ol>
                {% if curso['matutino'] == 1 %}<li><strong>Matutino</strong> | 08h00 às 11h40 |</li>{% endif %}
                {% if curso['noturno'] == 1 %}<li><strong>Noturno</strong> | 19h00 às 22h40 |</li>{% endif %}
            </ol>
            <p>
            Duração: <em>{{ curso['duracao'] }} semestres</em>
            </p>
        </section>
        <section>
            <h3>Investimento</h3>
            <table class="investimento">
            <tr>
                <th>Período</th>
                <th>Investimento</th>
            </tr>
            {% if curso['matutino'] == 1 %}
                <tr>
                    <td>Matutino</td>
                    <td>
                        De: <del>R$ 1.000,00</del><br/>
                        Por: <ins>R$ 820,00</ins>
                    </td>
                    </tr>
                <tr>
            {% endif %}
            {% if curso['noturno'] == 1 %}
                <tr>
                    <td>Noturno</td>
                    <td>
                        De: <del>R$ 1.300,00</del><br/>
                        Por: <ins>R$ 920,00</ins>
                    </td>
                </tr>
            {% endif %}
            </table>
        </section>
    </section>
    <section class="curriculo">
        <h2>Matriz Curricular</h2>
        <ul>
            {% for i in range(1, curso['duracao'] + 1) %}
                <li>
                    {{ i }}º Semestre:
                    <ul>
                        {% for d in curso['grade'][i] %}
                            <li>{{ d['nome'] }}: {{ d['carga_horaria'] }} horas</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}